.wrapper {
  width: 100%;

  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    .titleLeft {
      flex: 3;
    }
    .titleCenter {
      flex: 3;
    }
    .titleRight {
      flex: 1;
      display: flex;
      justify-content: flex-end;
    }
  }
  .listSong {
    margin-bottom: 10px;
  }
  .infoListSong {
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: 14px;
  }
}
