.wrapper {
  width: 100%;
  height: 100%;
}

.navbarSearch {
  display: flex;
  align-items: center;
  gap: 15px;
  // padding-bottom: 8px;
  border-bottom: solid 1px var(--color-line);
  .title {
    font-size: 26px;
    font-weight: 400;
    text-align: center;
    padding-right: 15px;
    border-right: solid 1px var(--color-line);

    text-transform: uppercase;
    color: var(--color-text-normal-lightHover);
  }
  .navMenu {
    font-size: 16px;
    display: flex;
    text-transform: uppercase;
    gap: 30px;
    text-align: center;

    .navItem {
      padding: 15px 0;
      color: var(--color-text-normal-light);
      &.isActive {
        color: var(--color-text-normal-lightHover);
        border-bottom: solid 1px var(--color-primary);
      }
      &:hover {
        color: var(--color-text-normal-lightHover);
        cursor: pointer;
        border-bottom: solid 1px var(--color-primary);
      }
    }
  }
}
.content {
  width: 100%;
  height: 100%;
}
